<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{title}}</p>
        <img class="portrait" src="/img/pic.jpg">
    </div>
    {{>footer}}
</body>
</html>